.form_wrapper {
  width: 100%;
  float: left;
  margin-top: 20px;
  font-family: 'Lato', sans-serif;
  .form_info {
    width: 95%;
    padding: 20px;
    margin: 0 auto;
    min-height: 700px;
    background: white;
    .form_header {
      font-weight: 600;
      color: #555555;
    }
    .form_border_bottom {
      border-bottom: 1px solid #F5F7F7;
      padding-top: 10px;
      /* padding-bottom: 10px; */
      margin-bottom: 20px;
    }
    .add_consumer_form {
      margin-top: 30px;
      .float_bull_righ {
        display: flex;
        float: right;
        padding-right: 10px;
      }

      .form_element {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left:40px;
        .auto_complete_wrapper {
          padding-top:5px;
          width: 100%;
          .information_odd {
            width: 62.5%;
            background-color: lightgrey;
            cursor: pointer;
            margin: 0 auto;
            margin-bottom: 1px;
          }
          .information_even {
            width: 62.5%;
            background-color: #F5F7F7;
            cursor: pointer;
            margin: 0 auto;
            margin-bottom: 1px;
          }
          .name_data {
            display: inline-block;
            padding-right: 40px;
          }
          .email_data {
            display: inline-block;
          }
        }
        span {
          font-weight: 400;
          font-size: 13px;
          padding-right: 20px;
          width: 200px;
          text-align: right;
          display: inline-block;
        }
        .form_elem {
          display: inline-block;
          width: 80%;
          height: 34px;
          padding: 6px 12px;
          font-size: 14px;
          line-height: 1.42857143;
          background-color: #fff;
          background-image: none;
          border: 1px solid #ccc;
          border-radius: 4px;
          -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
          -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
          -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }

        .btn {
          border-radius: 40px 40px 40px 40px;
          border: 1px solid #F0F3F4;
          padding-left: 20px;
          padding-top: 5px;
          padding-bottom: 5px;
          padding-right: 20px;
          margin-left: 15px;
          margin-top: 15px;
          color: #717171;
          &:hover,
          &:focus {
            outline   : none;
          }
          cursor: pointer;
        }
        .white_btn {
          background-color: #FFFFFF;
          color: black;
        }
        .blue_btn {
          background-color: #38BBF7;
          color: white;
        }
      }
    }
  }
}
