.wrapper {
  background-color: #FFF5D6;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

.not_found_wrapper {
  width:50%;
  margin: 0 auto;
}

.not_found_text {
  text-align: center;
}
